
/*default html style*/



h1{
    font-weight: 200;
    font-size: 30px
}

h2{
    font-size: 25px
}

h5{
  font-size: 1.4em;
}

img{
    width: 100%;
}

.container.first{margin-top: 100px}

.logo{max-width:300px}

@media (max-width: @screen-xs) {
  body{font-size: 10px;}
}
@media (max-width: @screen-sm) {
   body{font-size: 14px;}
}
